@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');

/*General*/
@media only screen{
  #aboutUs{
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 2%;
    border-radius: 7px;
    border-style: solid;
    border-width: 7px;
    border-color: #fca404;
    font-size: 1.5vw;
  }
  
  #aboutUs h1{
    color: #fca404;
    font-family: 'Anton', sans-serif;
  }
  
  #aboutUs p{
    margin-top: 2%;
  }
  
  #menuStarts{
    margin-top: 5%;
    background-color: #fca404;
    border-style: solid;
    border-width: 7px;
    border-color: white;
    border-radius: 5vh;
    padding: 2%;
    text-align: center;
    margin-bottom: 5%;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1.5vw;
  }
  
  #menuStarts a{
    color: black;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
  }
  
  #menuStarts a:hover{
    color: white;
    font-family: 'Anton', sans-serif;
    text-decoration: none;
  }
  a:visited{
    color: black;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size:calc(15px);
  }
  
  #logoContainer{
    margin: 2%;
  }
  
  body{
    background-color: black;
    font-family: 'Abril Fatface', cursive;
  }
  
  section{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  
  #map {
    position: relative;
    padding-bottom: 56.25%; 
    padding-top: 25px;
    height: 0;
  }
  #map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  #mapContainer{
    border-radius: 4px;
    background-image: url(./img/woodWAll.jpg);
    padding: 8%;
    background-repeat: no-repeat;
    background-size: 120%;
    text-align: center;
    padding-top: 1%;
    font-size: 1.5vw;
  }
  
  #mapContainer h1{
    color: white;
    font-family: 'Anton', sans-serif;
    margin-bottom: 4%;
    margin-top: 4%;
    background-color: black;
    border-radius: 8px;
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
  }
  
  #mapContainer p{
    color: white;
    font-family: 'Abril Fatface', cursive;
    background-color: black;
    text-align: left;
    padding: 2%;
    border-radius: 5px;
    width: 70%;
    margin-bottom: 4%;
    padding-right: 0%;
  }
  
  #mapContainer p img{
    margin-left: 4%;
  }
  
  input[type=text], input[type=date], input[type=number], input[type=time],select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical;
    background-color: black;
    color: white;
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  .container form label{
    background-color: white;
    border-radius: 5px;
    padding: 1%;
  }
  input[type=submit] {
    background-color:white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .container {
    width: 50%;
    border-radius: 5px;
    background-image: url(./img/woodWAll.jpg);
    background-repeat: no-repeat;
    padding: 20px;
    margin-top: 5%;
    margin-left: 25%;
    margin-right: 25%;
    background-size: cover;
  }
  
  .container h1{
    margin-bottom: 3%;
    background-color: white;
    text-align: center;
    padding: 1%;
    border-radius: 6px;
    margin-left: 10%;
    margin-right: 10%;
  }
}
/*Phone*/
@media only screen and (min-width: 200px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #logoContainer{
    margin: 2%;
  }

  body{
    background-color: black;
    font-family: 'Abril Fatface', cursive;
  }
  
  section{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  nav{
    background-color: white;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 2vh;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
  }
  
  nav a{
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    font-size: 100%;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    margin: 0 2%;
  }
  
  nav a:hover{
    color: #fca404;
  }
  

  #exterior{
    background-image: url(./img/exterior.jpg);
    width: 97vw;
    height: 70vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    background-attachment: fixed;
    opacity: 0.25;
    background-size:100% auto;
    background-repeat: no-repeat;
  }
  #footerContainer{
    background-color: #3A3A3A;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: white;
    align-items: center;
    gap: 5vh;
  }
  
  
  .mediaLogo{
    height: 50px;
    width: 50px;
  }
  
  
  #logoFoot{
    width: 20%;
    height: 20%;
  }
  
  #socialMedia{
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
}
/*Tablet*/
@media only screen and (min-width: 600px) {
  .aboutUs{
    margin-top: 0%;
  }
  nav{
    background-color: white;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 2vh;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 15%;
    margin-left: 15%;

  }
  
  nav a{
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    font-size: 100%;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    margin-top: 2%;
  }
  
  nav a:hover{
    color: #fca404;
  }

  #exterior{
    background-image: url(./img/exterior.jpg);
    width: 97vw;
    height: 70vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    background-attachment: fixed;
    opacity: 0.25;
    background-size:100% auto;
    background-repeat: no-repeat;
  }

  #footerContainer{
    background-color: #3A3A3A;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    color: white;
    align-items: center;
    gap: 5vh;
  }
  
  
  .mediaLogo{
    height: 50px;
    width: 50px;
  }
  
  
  #logoFoot{
    width: 20%;
    height: 20%;
  }
  
  #socialMedia{
    display: flex;
    justify-content: space-around;
    width: 50%;
  }
  

}
/*PC*/
@media only screen and (min-width: 1011px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #logoContainer{
    margin: 2%;
  }

  body{
    background-color: black;
    font-family: 'Abril Fatface', cursive;
  }
  
  section{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  nav{
    background-color: white;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 2vh;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
    align-items: center;
  }
  
  nav a{
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    font-size: 100%;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    margin: 0 2%;
  }
  
  nav a:hover{
    color: #fca404;
  }
  
  #exterior{
    background-image: url(./img/exterior.jpg);
    width: 98vw;
    height: 70vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    background-attachment: fixed;
    opacity: 0.25;
  }

  #footerContainer{
    background-color: #3A3A3A;
    width: 100%;
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2%;
    color: white;
  }
  
  
  .mediaLogo{
    height: 50px;
    width: 50px;
  }
  
  
  #logoFoot{
    width: 10%;
    height: 10%;
  }
  
  #socialMedia{
    display: flex;
    justify-content: space-around;
    width: 15%;
  }
}
