@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body{
    background-color: black;
    font-family: 'Roboto Mono', monospace;
}
#home{
    background-color: #fca404;
    margin: 3%;
    padding: 1%;
    border-radius: 5px;
    width: 5%;

}
#mainContainer{
    margin-top: 0%; 
    background-color: white;
    margin: 3%;
    padding: 2%;
    border-radius: 10px;
}

hr{
    height: 5px;
    background-color: black;
}

.menuDiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

}
.productArticle{
    margin: 2%;
    background-color: black;
    color: white;
    padding: 2%;
    display: inline-block;
    border-radius: 10px;
    flex-basis: 20%;
    
}

.productArticle img{
    border-radius: 60% 10% 60% 60%;
    size: auto;
    margin-bottom: 5%;
}

.productArticle p{
    letter-spacing: 1.5px;
}