@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&display=swap');
@media only screen and (min-width: 600px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #logoContainer{
    margin: 2%;
  }
  
  body{
    background-color: black;
    font-family: 'Abril Fatface', cursive;
  }
  
  section{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  nav{
    background-color: white;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 2vh;
    flex-direction: column;
    margin-bottom: 5%;
  }
  
  nav a{
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    font-size: 100%;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    margin-top: 2%;
  }
  
  nav a:hover{
    color: #fca404;
  }
}













@media only screen and (min-width: 1011px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  #logoContainer{
    margin: 2%;
  }

  body{
    background-color: black;
    font-family: 'Abril Fatface', cursive;
  }
  
  section{
    margin-left: 10%;
    margin-right: 10%;
  }
  
  nav{
    background-color: white;
    padding: 2%;
    display: flex;
    text-align: center;
    border-radius: 2vh;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5%;
  }
  
  nav a{
    text-transform:uppercase;
    text-decoration:none;
    color:#16151b;
    font-size: 100%;
    letter-spacing:1px;
    position:relative;
    display:inline-block;
    margin: 0 2%;
  }
  
  nav a:hover{
    color: #fca404;
  }
  
  #exterior{
    background-image: url(./img/exterior.jpg);
    width: 98vw;
    height: 70vh;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 5%;
    background-attachment: fixed;
    opacity: 0.25;
  }

  #aboutUs{
    background-color: white;
    text-align: center;
    width: 100%;
    padding: 2%;
    border-radius: 7px;
    border-style: solid;
    border-width: 7px;
    border-color: #fca404;
    font-size: 1vw;
  }

  #aboutUs h1{
    color: #fca404;
    font-family: 'Anton', sans-serif;
  }

  #aboutUs p{
    margin-top: 2%;
  }
}